html, body {
  margin:0;
  padding:0;
  font: 14px sans-serif;
}

.admin-form .admin-form-header{
    display:block;
    font-size:20px;
    text-align: center;
    margin-top:100px;
}

.admin-form-input-wrapper{
    display:block;
    text-align: center;
    margin:30px;
}

.admin-form-input-wrapper .password,
.admin-form-input-wrapper .login,
.admin-form-input-wrapper .submit{
    font-size:20px;
    padding:10px;
    border:3px solid #ededed;
    border-radius: 10px;
    outline: none;
}

.admin-form-input-wrapper .password:focus,
.admin-form-input-wrapper .login:focus,
.admin-form-input-wrapper .submit:focus{
    border:3px solid #dcdcdc;
}

.admin-form-input-wrapper .submit:hover{
    background: #ededed;
    cursor:pointer;
}