html, body, p{
    margin:0;
    padding:0;
}
/*=================================================================*/
.app-container{
    display:table;
    width:100%;
    table-layout: fixed;
    border-spacing: 10px 0;
}

.left-side-panel, .right-side-panel, .app-content{
    display:table-cell;
    background-color: #C5DEF3;
    vertical-align: top;

}

.left-side-panel, .right-side-panel{
    width:200px;
    border-spacing: 10px;
}
/*=================================================================*/
.left-side-panel
{
    border-top-right-radius: 30px;
}
.right-side-panel
{
    border-top-left-radius: 30px;
}

html
{
    min-height: 100%;
}

body
{
    min-height: 100%;
    padding: 20px;
    background: #09649f; /* Old browsers */
    background: -moz-linear-gradient(top, #09649f 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#09649f), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #09649f 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #09649f 0%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #09649f 0%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom, #09649f 0%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#09649f', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
p
{
    margin: 0;
}

.app
{
    border: 1px solid #638BBC;
    border-radius: 50px;
    padding: 10px;
    background: #c5def3; /* Old browsers */
    background: -moz-linear-gradient(top, #c5def3 0%, #ffffff 20%, #ffffff 80%, #c5def3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c5def3), color-stop(20%,#ffffff), color-stop(80%,#ffffff), color-stop(100%,#c5def3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #c5def3 0%,#ffffff 20%,#ffffff 80%,#c5def3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #c5def3 0%,#ffffff 20%,#ffffff 80%,#c5def3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #c5def3 0%,#ffffff 20%,#ffffff 80%,#c5def3 100%); /* IE10+ */
    background: linear-gradient(to bottom, #c5def3 0%,#ffffff 20%,#ffffff 80%,#c5def3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5def3', endColorstr='#c5def3',GradientType=0 ); /* IE6-9 */
}

h1
{
    border-bottom: 4px solid #09649F;
    margin: 10px 10px 5px 10px;
    padding-bottom: 30px;
    color: #09649F;
    font-size: 42pt;
    font-family: "Times New Roman";
    text-align: center;
}

#content
{
    overflow: hidden;
}

.left-side-panel-content
{
    margin: 0;
    color: #09649F;
    padding: 10px;
    text-align: center;
    font-size: 40pt;
    padding: 10px;
}

.right-side-panel-content
{
    color: #09649F;
    font-size: 30px;
    text-align: center;
}

.app-content
{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    text-align: justify;
}

.app-content-main-page
{
    padding: 15px;
    font-size: 12pt;
}

.app-content-main-page p
{
    margin: 0 0 12pt 0;
}

.right-side-panel-time-block
{
    padding: 10px;
    border-bottom: 1px solid #9AC6EA;
}

.app-footer
{
    border-top: 4px solid #09649F;
    text-align: center;
    margin: 6px 0px 0px;
    padding: 35px 0 15px 0;
    font-size: 12pt;
    color: #1368A9;
}

.right-side-panel-list-peoples-ref
{
    border-top: 1px solid white;
    padding: 10px;
}

.right-side-panel-list-peoples-ref a
{
    color: #09649F;
}

.clock {
    padding: 0;
    position: relative;
    width: 600px;
    height: 600px;
    margin: 20px auto 0 auto;
    background: url(/images/clockface.png);
    list-style: none;
}

.sec, .min, .hour {
    position: absolute;
    width: 30px;
    height: 600px;
    top: 0px;
    left: 285px;
}

.sec {
    background: url(/images/sechand.png);
    z-index: 3;
}

.min {
    background: url(/images/minhand.png);
    z-index: 2;
}

.hour {
    background: url(/images/hourhand.png);
    z-index: 1;
}