<div class="left-side-panel-content">
    <ul class="left-side-panel-content-info-list">
        <li class="left-side-panel-content-info-list-item">
            <div class="info-list-item-content">
                <span class="info-list-item-text">Тут може бути ваша реклама</span>
                <img class="info-list-item-img" src="/images/reklama.png"/>
            </div>
        </li>
    </ul>
</div>