<div class="right-side-panel-content">
    <div class="right-side-panel-time-block" id="timer">
        <a href="/clock" class="href-to-clock">
            <span class="href-to-clock-text">До олімпіади залишилось:<br>
            </span><span class="href-to-clock-time"><span id="timerDays"></span> днів
            <span id="timerHours"></span>:<span id="timerMinutes"></span>:<span id="timerSeconds"></span></span>
        </a>
    </div>
    <div class="right-side-panel-list-peoples-ref"><a href="/students">Дізнайся чи є ти серед учасників</a></div>
</div>