<div class="right-side-panel-content">
    <div class="right-side-panel-time-block" id="timer">
        До олімпіади залишилось : <span id="timerDays"></span> днів
        <span id="timerHours"></span>:<span id="timerMinutes"></span>:<span id="timerSeconds"></span>
    </div>
    <div class="right-side-panel-list-peoples-ref"><a href="#">Дізнайся чи є ти серед учасників</a></div>
</div>