<div class="right-side-panel-content">
    <div class="right-side-panel-time-block">
        До олімпіади залишилось : 10 днів 10хв 10с
    </div>
    <a class="right-side-panel-list-peoples-ref" href="#">Дізнайся чи є ти серед учасників</a>
</div>