<% layout('layout/layout') %>
<% block('title', 'Олимпиада') %>
<div class="app-content-main-page">
    <p>С целью дальнейшего повышения качества подготовки квалифицированных специалистов, поиска одаренной студенческой молодежи и создания условий для ее творческого роста Житомирский государственный технологический университет был признан базовым заведением по организации и проведению Второго этапа Всеукраинской студенческой олимпиады по дисциплине «Страховое дело».</p>

    <p>Для участия в Олимпиаде от одного высшего учебного заведения приглашаются 1-2 победителя первого тура. Участникам будут предоставлены задачи по дисциплинам «Страхование» и «Страховые услуги».</p>

    <p>Анкеты победителей первого этапа и заявки на участие в Олимпиаде принимались к 1 марта 2015 года.</p>

    <p><b>Программой Олимпиады предусмотрено:</b></p>

    <p>9 апреля 2014 - день заезда, регистрация и размещение участников Олимпиады (8: 30-10:00), торжественное открытие Олимпиады (10:00), выполнение задач Олимпиады (11:00-14: 00); экскурсионные программы.<br>
        10 апреля 2014 - обнародование результатов (9:00) работа апелляционной комиссии (09:30-11: 00); подведение итогов и награждение победителей (11:00).<br>
        11 апреля 2014 - экскурсионные программы</p>

    <p>Регистрация участников 9 апреля 2015 года будет проходить в холле Житомирского государственного технологического университета, который находится по адресу: г. Житомир, ул. Черняховского, 103.<br>

    <p>Участники Олимпиады должны иметь при себе студенческие билеты, паспорта, удостоверения. Возмещение расходов осуществляется за счет высших учебных заведений, в которых учатся участники Олимпиады.<br>

    <p><b>Контакты оргкомитета:</b></p>

    <p>Председатель оргкомитета - Олейник Оксана Викторовна, первый проректор, профессор кафедры бухгалтерского учета и анализа по видам экономической деятельности, д.э.н., проф.<br>
        Тел: (0412) 24-14-20, e-mail: <a href="mailto:finance_0412@ukr.net">finance_0412@ukr.net</a></p>

    <p>Ответственный секретарь оргкомитета - Полчанов Андрей Юрьевич, к.э.н., старший преподаватель кафедры финансов и кредита<br>
        Тел: (067) 490-55-99, e-mail: <a href="mailto:polchanov@gmail.com">polchanov@gmail.com</a>  | Фориншурер</p>
</div>